nbproject/private/
nbproject/configs/
nbproject/
*.bak
*.jar
*.class
*.log
*.log.*
bin/
dist/
manifest.mf
build.xml
ISY-CF/

db.properties
OneUsePassword.txt
data/OneUsePasswords.txt
data/knownTokens.txt
data/MyToken.txt